*{ 
    margin: 0 auto;
    padding: 0; 
}

body{
    background: #000000;
    min-width: 500px;
    max-width: 1600px;
    color: white;
}

#container{
    width: 100%;
}

.header h1{
   visibility: hidden; 
   text-align: center;  
   font-family: 'Press Start 2P', cursive;
   font-size: 50px;
   line-height: 0px;
   font-weight: bold;   
}

.header h1::after{
    content: "JardimWave";
    visibility: visible;
    display: block;
    line-height: 400px; 
    color: #ffffff;   
}

h2, h3, p, a{
    font-family: 'VT323', monospace;
}

p, a{
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
}

h2, p{
    margin: 15px;
}

h2, h3{
    color: #8104bf;
    padding-left: 15px;
}

.header h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#jar-summary, #jar-preamble, #jar-supporting, .wrapper{
    margin: 0% 10%;
}

#jar-link-list li{
    list-style-type: none;
}

.footer{
    position: fixed;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    background:#4f07a1;
    padding: 5px;
}

div .footer a{
    display: block;
    color: #6feef7;
}

.footer a:hover{
    text-decoration: underline #6feef7;
}

a{ 
    color: #f3096a;
    text-decoration: none;
}

a:hover{
 text-decoration: underline #f3096a;
}

a:active{
    color: #f830cd;
}

.sidebar a:hover{
    text-decoration: none;   
    color: #04f7ff;
}

.sidebar a{
     color: white;
}

.sidebar{
    color: #000000;
    background: linear-gradient(to top,#6102cc 70%, #a80cd8) ;
}

.sidebar h3{
    color:#120052 ;
}

.wrapper{
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.select {
    letter-spacing: 1px;
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

#jar-selection li a{
    justify-content: center;
    padding: 10px;
    display: inline-flex;
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: #442796;
}

#jar-selection{
    width: 100%;
    text-align: center;
}

.design-archives, .design-resources{
  letter-spacing: 1px;
  width: 230px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}
